/*css*/
.container {
    display: grid;
    border: 3px solid black;
    min-height: 100vh;
    min-height: 100dvh;
}

.title {
    display: grid;
    justify-content: center;
    border: 3px solid black;
}

.games {
    display: grid;
    border: 3px solid black;
    justify-content: center;
    margin: 5px;
    
}

